<% var js_include=['calculations.js','payed.js']; %>

<%- include ('header',{js_include:js_include}) %>

<div class="content index">
  <h1><%= rent_info.street_address %>, <%= rent_info.city %> <%= rent_info.state %>, <%= rent_info.zip_code %></h1>

  <div class="rent">
    <span class="section_title">Rent</span>
    <div class="rent_amount">
      <span>Rent: </span>
      <span id="rent_total"><%= rent_info.rent_total %></span>
    </div>

    <div class="rent_due_date">
      <span>Due: </span>
      <span id="rent_due"><%= rent_info.rbill_month %>/<%= rent_info.due_day %>/<%= rent_info.rbill_year %></span>
    </div>
  </div>

  <div class="deposit">
    <span class="section_title">Deposit</span>
    <div class="deposit_amount">
      <span>Deposit: </span>
      <span id="deposit_amount"><%= deposit.deposit_total %></span>
    </div>

    <div class="deposit_remainder">
      <span>Deposit Remainder: </span>
      <span id="deposit_remainder"><%= deposit.remainder %></span>
    </div>
  </div>

  <div class="utilities">
    <span class="section_title">Utilities</span>
    <% for (var i=0;i<utilities.length;i++) { %>
      <div class="utility">
        <div class="utility_name">
          <span class="utility_name_value" style="text-transform:capitalize;"><%= utilities[i].name %></span>
        </div>
        <div class="utility_amount">
          <span>Amount: </span>
          <span class="utility_amount_value"><%= utilities[i].ubill_amount %></span>
        </div>
        <div class="utility_due_date">
          <span>Due: </span>
          <span class="utility_due_date_value"><%= utilities[i].ubill_month %>/<%= utilities[i].ubill_day %>/<%= utilities[i].ubill_year %></span>
        </div>
      </div>
    <% } %>
  </div>

  <div class="tenants">
    <span class="section_title">Tenants</span>
    <% var rflag,uflag %>
    <% for (var j=0;j<tenants.length;j++) { %>
      <% rflag=0 %>
      <% uflag=0 %>
      <div class="tenant">
        <div class="name">
          <span class="name"><%= tenants[j].first_name %> <%= tenants[j].last_name %></span>
        </div>
        <% for (var k=0;k<rent_payments.length;k++) { %>
          <% if (tenants[j].id===rent_payments[k].tenant) { %>
            <% rflag=1 %>
            <div class="rent_payment">
              <span class="section_sub_title">Rent</span>
              <div class="rent_payment_total">
                <span>Total: </span>
                <span class="rent_payment_total_value"><%= rent_payments[k].rpayment_total %></span>
              </div>
              <div class="rent_payment_percentage">
                <span>Pecentage: </span>
                <span class="rent_payment_percentage_value"><%= rent_payments[k].rpayment_percentage %>%</span>
              </div>
              <div class="rent_payment_date">
                <span>Payed: </span>
                <span class="rent_payment_date_value"><%= rent_payments[k].rpayment_month %>/<%= rent_payments[k].rpayment_day %>/<%= rent_payments[k].rpayment_year %></span>
              </div>
            </div>
          <% } %>
        <% } %>
        <% if (rflag===0) { %>
          <div class="rent_payment not_payed">
            <span class="section_sub_title">Rent</span>
            <div class="rent_payment_total">
              <span>Total: </span>
              <span class="rent_payment_total_value"></span>
            </div>
            <div class="rent_payment_percentage">
              <span>Pecentage: </span>
              <span class="rent_payment_percentage_value">25%</span>
            </div>
            <button id="rent_button_<%= k %>" class="payed" data-tenant="<%= tenants[j].id %>" data-total="<%= %>" data-type="rent">Payed</button>
          </div>
        <% } %>
        <div class="utility_payments">
          <span class="section_sub_title">Utilities</span>
          <% for (var i=0;i<utilities.length;i++) { %>
            <% for (var x=0;x<utility_payments.length;x++) { %>
              <% if (tenants[j].id===utility_payments[x].tenant && utilities[i].id===utility_payments[x].utility) { %>
                <% uflag=1 %>
                <div class="utility_payment">
                  <div class="utility_payment_name">
                    <span><%= utilities[i].name %></span>
                  </div>
                  <div class="utility_payment_total">
                    <span>Total: </span>
                    <span><%= utility_payments[x].upayment_total %></span>
                  </div>
                  <div class="utility_payment_percentage">
                    <span>Pecentage: </span>
                    <span><%= utility_payments[x].upayment_percentage %>%</span>
                  </div>
                  <div class="utility_payment_date">
                    <span>Payed: </span>
                    <span><%= utility_payments[x].upayment_month %>/<%= utility_payments[x].upayment_day %>/<%= utility_payments[x].upayment_year %></span>
                  </div>
                </div>
              <% } %>
              <% uflag=0 %>
            <% } %>
            <% if (uflag===0) { %>
              <div class="utility_payment not_payed">
                <div class="utility_payment_name">
                  <span class="utility_payment_name_value"><%= utilities[i].name %></span>
                </div>
                <div class="utility_payment_total">
                  <span>Total: </span>
                  <span class="utility_payment_total_value"></span>
                </div>
                <div class="utility_payment_percentage">
                  <span>Pecentage: </span>
                  <span class="utility_payment_percentage_value">25%</span>
                </div>
                <button id="utility_button_<%= x %>" class="payed" data-tenant="<%= tenants[j].id %>" data-type="utility" data-utility="<%= utilities[i].id %>">Payed</button>
              </div>
            <% } %>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
</div>

<%- include ('footer') %>
