<span class="section_sub_title">Rent</span>

<div class="rent_payment_total">
  <span>Total: </span>
  <span class="rent_payment_total_value"><%= rent_payment.rpayment_total %></span>
</div>

<div class="rent_payment_percentage">
  <span>Pecentage: </span>
  <span class="rent_payment_percentage_value"><%= rent_payment.rpayment_percentage %>%</span>
</div>

<div class="rent_payment_date">
  <span>Payed: </span>
  <span class="rent_payment_date_value"><%= rent_payment.rpayment_month %>/<%= rent_payment.rpayment_day %>/<%= rent_payment.rpayment_year %></span>
</div>
