<div class="utility_payment_name">
  <span><%= utility_payment.name %></span>
</div>

<div class="utility_payment_total">
  <span>Total: </span>
  <span><%= utility_payment.total %></span>
</div>

<div class="utility_payment_percentage">
  <span>Pecentage: </span>
  <span><%= utility_payment.percentage %>%</span>
</div>

<div class="utility_payment_date">
  <span>Payed: </span>
  <span><%= utility_payment.month %>/<%= utility_payment.day %>/<%= utility_payment.year %></span>
</div>
