<div class="utility_payment_name">
  <span><%= utility_payment.name %></span>
</div>

<div class="utility_payment_total">
  <span>Total: </span>
  <span><%= utility_payment.upayment_total %></span>
</div>

<div class="utility_payment_percentage">
  <span>Pecentage: </span>
  <span><%= utility_payment.upayment_percentage %>%</span>
</div>

<div class="utility_payment_date">
  <span>Payed: </span>
  <span><%= utility_payment.upayment_month %>/<%= utility_payment.upayment_day %>/<%= utility_payment.upayment_year %></span>
</div>
