<div class="add_container_<%= page.toLowerCase().replace(/ /g,'_') %>">
  <label for="add_<%= page.toLowerCase().replace(/ /g,'_') %>">Add new <%= page %>:</label>
  <button id="add_<%= page.toLowerCase().replace(/ /g,'_') %>">New <%= page %></button>
</div>
